{% extends "JgeBundle::layout.html.twig" %}
{% block main %}
    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Accueil</h3>

        </div>
        <div id="content" class="col-md-9">

        </div>
    </div>

    <hr>
{% endblock main %}