{% extends "JgeBundle::layout.html.twig" %}
{% block main %}
    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Membres</h3>

        </div>
        <div id="content" class="col-md-9">
            {% block body %}
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('jge_member_list') }}">Liste des membres</a></li>
                    <li><a href="{{ path('jge_member_add') }}">Ajouter un membre</a></li>
                </ul>
            {% endblock %}
        </div>
    </div>

    <hr>
{% endblock main %}