{% extends "JgeBundle::layout.html.twig" %}
{% block main %}
    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Membres</h3>
        </div>
        <div id="content" class="col-md-9">
            <ul class="nav nav-pills nav-stacked">
                {% for member in listMembers %}
                    <li>
                        {{ member.lastname }} {{ member.firstname }}
                        <a href="{{ path('jge_member_view', {'id': member.id}) }}">Voir en détail</a>
                    </li>
                {% endfor %}
            </ul>
            <p>
                <a href="{{ path('jge_member') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Revenir au menu
                </a>
            </p>
        </div>
    </div>

    <hr>
{% endblock main %}
