{% extends "JgeBundle::layout.html.twig" %}
{% block main %}
    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Modifier un membre</h3>
        </div>
        <div id="content" class="col-md-9">
            <div class="well">
                {{ form(form) }}
                <p>
                    <a href="{{ path('jge_member_list') }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Annuler
                    </a>
                </p>
            </div>
        </div>
    </div>

    <hr>
{% endblock main %}